.profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.typing-text-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;    
    right: 0;
    bottom: 0;
    
  }

  .custom-image {
    width: 100px;
    height: 100px;
    object-fit: fill;
}
/* 
.image-center{
    background-image: url('../../assets/images/Blockchain3.png') !important;
    background-size: cover ;
    background-position: center center;
} */

.image-top {
  /* transform: translateY(-100px); */
  margin-top: 30px;
  transform: translateY(160px);
  /* translateX(550px)  */
  transition: 700ms ease-in-out;
  border-radius: 50%;
  /* background-image: url('../../assets/images/Blockchain3.png') !important;
    background-size: cover ;
    background-position: center center; */

}

/* 
div[style="display: flex; position: absolute; inset: 0px auto auto 0px; z-index: 1900; transform: translate3d(492.8px, 184px, 0px);"] {
  transform: translate3d(600.8px, 184px, 0px);
}   */
