@font-face {
    font-family: 'ChakraPetch';
    src: url('../../assets/Fonts/ChakraPetch/ChakraPetch-MediumItalic.ttf') format('truetype');
  }

.text-area-animated-background {
    width: fit-content;
    height: max-content;
    background: transparent;
    background-size: 200% 200%;
    animation: gradient-animation 7s ease-in-out infinite;
    border: none;
    font-family: 'ChakraPetch', sans-serif;
    color: #034078;
    pointer-events: none;
    text-align: justify;
    resize: none;
    overflow: hidden;
  }
  


  